
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    
    --text-color-dark: #333; /* Cor do texto */
    --text-color-light:  rgb(255, 255, 255); /* Cor do texto claro */
    --background-color: #f4f4f4; /* Cor de fundo */
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
}

body{
    /*cor de plano de fundo caso a imagem não carregue*/
    background-color: rgba(61, 60, 60, 0.863);
    
    /*imagem de plano de fundo*/
    background-image:url('/assets/unifoa-fachada.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh;
    

    /*display: flexbox;*/
    place-items: center;
    vertical-align: text-top;
    object-position: center;
    justify-content: center;
    align-items: center;
    font-family: Inter;

    color: var(--text-color-light);
       
}


.container{
    /*alinhamento dos itens*/
    display: flex;
    place-items: center;
    align-items: center;
    object-position: center;
    justify-content: center;
    text-align: center;
    height: 95vh;/*garante que o footer esteja no fim da página, proporcional à imagem*/
   

    
    p{
        font-size: 14px;
        /*alinhamento dos parágrafos à esquerda*/
        text-align: left;
        
    }

    .faderBG{
        background-color: hsla(0, 0%, 12%, 0.918);
        /* width: 450px; */
        border-radius: 10px;
        color: var(--text-color-light)
        /* Alinhamento dos itens dentro da caixa */
        /* Espaçamento interno */;
        width: 100%;
        max-width: 600px; /* Limita a largura máxima */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 0 auto; /* Centraliza horizontalmente */    
        
    }
    
    
            input[type="number"]::-webkit-inner-spin-button, 
            input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

        input{
            color: var(--text-color-light);
        }

}
footer{
   
    color: hsl(0, 0%, 0%);
    font-size: 10px;
    align-items: center;
    text-align: center;
    width: 100vh;
    position: relative;
    
    a{
        color: white;
    }
}
